<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1><%= @list.name %></h1>
    <div class="d-flex justify-content-start align-items-center">
      <%= link_to "Add movie", new_list_bookmark_path(@list), class: "btn btn-secondary rounded-pill me-2" %>
      <%= link_to "Back to lists", lists_path, class: "btn btn-secondary rounded-pill" %>
    </div>
  </div>

    <% @bookmarks.each do |bookmark| %>
      <div class ="card">
        <%= render bookmark %>
      </div>
    <% end %>
</div>
